<section class="blog" id="blog">
    <div class="w3-container w3-light-grey w3-padding-32" id="blog">
    
    <div class="serious-content w3-content w3-justify">
        <h3 class="w3-wide"><a href="/blog/">Blog</a></h3>
        </br>

                {{ range first 5 (where .Data.Pages "Section" "blog") }}
                    <article>
                        <h5 class="w3-wide"><a href="{{ .Permalink }}">{{ .Title }}</a></h5>
                        <div class=sub-header>
                          {{ .Date.Format (.Site.Params.dateform | default "January 2006") }} · {{ .ReadingTime }} minute read
                        </div>
                        <p>{{ .Summary }}</p>

                        {{ if .Truncated }}
                            <a href="{{ .RelPermalink }}">Weiter lesen&hellip;</a>
                        {{ end }}
                    </br>
                    </br>
                </article>
                {{ end }}

    <hr class="w3-opacity">
    <a href="/blog/">View All</a>

    </div>
    </div>
</section>
