<section class="contact " id="contact" >

    <div class="w3-container w3-grey w3-padding-32 w3-padding-large" id="contact">
        <div class="w3-container w3-card-4 w3-white serious-content w3-content">
          <h3 class="w3-wide">Contact Me</h3>
            <form class="" action="https://formspree.io/{{ .Site.Params.email }}" method="POST">
            <div class="w3-section">
              <label>Name</label>
              <input class="w3-input w3-border" type="text" name="Name" required="">
            </div>
            <div class="w3-section">
              <label>Email</label>
              <input class="w3-input w3-border" type="text" name="Email" required="">
            </div>
            <div class="w3-section">
              <label>Message</label>
              <textarea class="w3-input w3-border" type="text" name="Message" required="" style="resize:none"></textarea>
            </div>
            <button type="submit" class="w3-button w3-block w3-grey w3-margin-bottom">Send Message</button>
          </form>
        </div>
      </div>
</section>