<section class="portfolio" id="portfolio">
<div class="grid" onload="masonry()">
    {{ range (where .Data.Pages "Section" "portfolio") }}
        <div class="w3-third  masonry-item">
         
            <div class="box-masonry" style="padding: 10px">
                <div class="w3-card">

                    {{ if and (isset .Params "image") .Params.image }}
                        <a href="{{ .Permalink }}" title="" class="">
                            <img src="{{ .Params.image }}" alt="" style="width:100%">
                        </a>
                    {{ end }}
                    <div class="w3-container w3-justify">
                        <h5 class="w3-wide">
                            <a href="{{ .Permalink }}">{{ .Title }}</a>
                        </h5>
                        {{ .Date.Format (.Site.Params.dateform | default "January 2006") }}
                         <p>{{ .Summary }}</p>
                    </div>
                </div>
            </div>
        </div>
    {{ end }}
</section>

<script type="text/javascript">

    /* =========================================
    *   masonry
    *   =======================================*/
    function masonry() {
        var grid = document.querySelector('.grid');
        var msnry = new Masonry( grid, {
            itemSelector: '.masonry-item',
        });
    }
</script>