/* latin-ext */
/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway'), local('Raleway-Regular'), url(/styles/fonts/raleway/v12/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}*/
/* latin */
/*@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway'), local('Raleway-Regular'), url(/styles/fonts/raleway/v12/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}*/

body,h1,h2,h3,h4,h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:300;
}

body{
  font-weight:400;
}

.ddd h2 {
    transition: text-shadow 1.0s, color 1.0s;
    margin: 0 0 -2px 0;
}

.ddd:hover h2{
    color: rgba(72, 255, 255, 0.5);
    text-shadow: 10px 0px 1px rgba(242, 2, 7, 0.5);
    transition: text-shadow 0.6s, color 0.6s;
}

.w3-sidebar h2{
  margin-top:80px;
}

/*.header h4 {
    transition: text-shadow 1.60s, color 1.0s;
    line-height: 1.0em;
}
.header:hover h4{
    color: rgba(72, 255, 255, 0.5);
    text-shadow: -10px 0px 1px rgba(242, 2, 7, 0.5);
    transition: text-shadow 0.6s, color 0.6s;
}*/

.w3-third img{margin-bottom: -6px; opacity: 0.8; cursor: pointer}
.w3-third img:hover{opacity: 1}

code, pre {
    font-family: Monaco, Andale Mono, Courier New, monospace;
}
code {
    color: rgba(0, 0, 0, 0.75);
    padding: 1px 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
pre {
    display: block;
    padding: 14px;
    margin: 0 0 18px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    color:#737373;
    padding: 0;
}

article{
  margin-bottom: 30px;
  margin-top: 50px;
}

.serious-content {
  max-width:700px
}

a:link {
    text-decoration: none;
}

.about img {
  width: 100%
}

.pagination{
  position: relative;
  width: 100%;
}
.pagination a:nth-child(2) {
  position: absolute;
  right: 0px;
}

.i18n + .i18n::before {
    content: " | ";
}

.i18n .active {
  border-bottom: 1px dashed #999;
  text-decoration: none; 
}


article img{
  max-width: 100%
}
